<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
      <div class="col s4">
        <p class="flow-text"
          <p>
            <%= @post.title %>
          </p>
        </p>
      </div>
    <div class="col s4">
      <p class="flow-text">
        <p>
        <%= @post.text %>
        </p>
      </p>
    </div>
      <div>
        <div class="col s4">
          <p class="flow-text">
            <p><%=image_tag @post.image_url.to_s %>
            </p>
          </p>
        </div>
        <br>
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Back', posts_path %> |
        <%= link_to 'Delete', @post, :method => :delete, :confirm => "Are you sure?" %>
</div>
