<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
      <div class="col s4">
        <p class="flow-text"
          <p>
            <%= @post.title %>
          </p>
        </p>
      </div>
    <div class="col s4">
      <p class="flow-text">
        <p>
        <%= @post.text %>
        </p>
      </p>
    </div>
    <div class="col s4">
      <p class="flow-text">
        <p><%=image_tag @post.image_url.to_s %>
        </p>
      </p>
    </div>
      <h3> Comments </h3>
      <% @post.comments.each do |comment| %>
        <p>
          <b>Comment:</b>
          <%= comment.content %>
        </p>
       <% end %>

      <h5>Add a comment:</h5>
      <%= form_for([@post, @post.comments.build]) do |f| %>
        <div class="field">
         <%= f.label :comment %> <br />
          <%= f.text_area :content %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
       <% end %>

      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %> |
      <% if current_user %>
      <%= link_to 'Delete', @post, :method => :delete, :confirm => "Are you sure?" %>
      <% end %>
 </div>
</div>
